head{
    font-family: "Montserrat";
}

body{
    background-color: #F7A072;
    font-family: "Montserrat",sans-serif;
    overflow-x: hidden;
    margin: 0;

}

a{
    text-decoration: none;
}
    
li{
    list-style: none;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #4e3d42;
    color: #fff;
    z-index: 100;
    position: sticky;
    top: 0;

    
}

.nav-links a{
    color: #fff;
}

.logo{
    font-size: 3em;
}

.nav-links{
    display: flex;
    gap: 1em;
    font-size: 2em;
}

.nav-links li:hover{
    background-color: #382d30;
    border-radius: 5px;
    transition: 0.3s ease;
}

.nav-links li{
    padding: 5px 14px;
}

.services{
    position: relative;
}

.dropdown{
    background-color: rgb(1,139,139);
    padding: 1em 0;
    position: absolute;
    display: none;
    border-radius: 8px;
    top: 100%;
    left:-5%;
}

.dropdown li+li{
    margin-top: 10px;
}

.dropdown li{
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
}

.dropdown li:hover{
    background-color: #4c9e9e;
}

.services:hover .dropdown{
    display: block;
}

input[type=checkbox]{
    display: none;
}

.hamburger{
    display:none;
    font-size: 24px;
    user-select: none;
}





#friptura{
    display: flex;
    flex-direction: row;
}

#costite{
    display: flex;
    flex-direction: row;
}

#snitel{
    display: flex;
    flex-direction: row;
}

#carnati{
    display: flex;
    flex-direction: row;
}

.poza{
    width: 65vw;
    margin: 3vw;

}

.nume{
    font-size: 3rem;
    background-color: rgba(255, 255, 255, 0.5);
    margin-top: 3vw;
    margin-bottom: 3vw;
    margin-left: 5.05vw;
    padding-right: 15vw;
    transition: padding-right 1s ease-in-out;
    opacity: 1;
    
}

.reteta{
    font-size: 2rem;
    background-color: rgba(255, 255, 255, 0.5);
    margin-top: 3vw;
    margin-bottom: 3vw;
    transition: margin-left 1s ease-in-out, padding-right 1s ease-in-out, background-color 0.5s ease-in-out;


   
}
#friptura > .nume:hover{
    padding-right: 0;
}

#friptura > .reteta:hover{
    margin-left: -34rem;
    padding-right: 12vw;
    background-color: rgba(255, 255, 255, 1);

}

#costite > .nume:hover{
    padding-right: 0;
}

#costite > .reteta:hover{
    margin-left: -34rem;
    padding-right: 12vw;
    background-color: rgba(255, 255, 255, 1);

}

#snitel > .nume:hover{
    padding-right: 0;
}

#snitel > .reteta:hover{
    margin-left: -34rem;
    padding-right: 12vw;
    background-color: rgba(255, 255, 255, 1);

}

#carnati > .nume:hover{
    padding-right: 0;
}

#carnati > .reteta:hover{
    margin-left: -34rem;
    padding-right: 12vw;
    background-color: rgba(255, 255, 255, 1);

}









@media only screen and (max-width: 1200px) {
    .navbar {
        flex-direction: column;
      }
    
      .nav-links {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
      }
    
      .nav-links {
        display: flex;
      }
    
      .nav-links li:hover {
        background-color: #382d30;
        border-radius: 5px;
        transition: 0.3s ease;
      }

      .dropdown{
        top: 100%;
        left:10%;
      }

      .dropdown li {
        padding: 0.5em;
        width: 84%;
      }

      .dropdown li:hover{
        background-color: #4c9e9e;
        }
    
        .poza{
            width: 40vw; 
        }

        .nume{
            padding-right: 10vw;
            transition: none;
        }

        .reteta{
            transition: none;
            font-size: 1rem ;
        }
        #friptura >.nume:hover{
            padding-right: 10vw;
        }

        #friptura >.reteta:hover{
            margin-left: 0;
            padding-right: 0;
            background-color: rgba(255, 255, 255, 0.5);
        }

        #costite >.nume:hover{
            padding-right: 10vw;
        }

        #costite >.reteta:hover{
            margin-left: 0;
            padding-right: 0;
            background-color: rgba(255, 255, 255, 0.5);
        }

        #snitel >.nume:hover{
            padding-right: 10vw;
        }

        #snitel >.reteta:hover{
            margin-left: 0;
            padding-right: 0;
            background-color: rgba(255, 255, 255, 0.5);
        }

        #carnati >.nume:hover{
            padding-right: 10vw;
        }

        #carnati >.reteta:hover{
            margin-left: 0;
            padding-right: 0;
            background-color: rgba(255, 255, 255, 0.5);
        }
    }

@media only screen and (max-width: 1050px) {
    .navbar{
        position: relative;
    }

    .nav-links {
      flex-direction: column;
      align-items: center;
    }
  
    .nav-links {
      display: block;
    }
  
    .nav-links li {
      padding: 10px;
    }
  
    .nav-links li:hover {
      background-color: #382d30;
      border-radius: 5px;
      transition: 0.3s ease;
    }
  
    
  
    .dropdown {
      top: 100%;
      left: 0;
      transform: translateX(75%);

    }
  
    .dropdown li {
      padding: 0.5em;
      width: 84%;
    }

    .dropdown li:hover{
        background-color: #4c9e9e;

    }

    #friptura{
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    
    #costite{
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    
    #snitel{
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    
    #carnati{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .poza{
        width: 95vw;
    }

    .nume{
        font-size: 5rem;
        padding-left:50vw ;
        padding-right: 50vw;
        transition: none;
    }

    .reteta{
        font-size: 2rem;
        transition: none;
        padding-left: 30vw;
        padding-right: 30vw;
    }

    #friptura >.nume:hover{
        padding-right: 50vw;
    }

    #friptura >.reteta:hover{
        margin-left: 0;
        padding-right: 30vw;
        background-color: rgba(255, 255, 255, 0.5);
    }

    #costite >.nume:hover{
        padding-right: 50vw;
    }

    #costite >.reteta:hover{
        margin-left: 0;
        padding-right: 30vw;
        background-color: rgba(255, 255, 255, 0.5);
    }

    #snitel >.nume:hover{
        padding-right: 50vw;
    }

    #snitel >.reteta:hover{
        margin-left: 0;
        padding-right: 30vw;
        background-color: rgba(255, 255, 255, 0.5);
    }

    #carnati >.nume:hover{
        padding-right: 50vw;
    }

    #carnati >.reteta:hover{
        margin-left: 0;
        padding-right: 30vw;
        background-color: rgba(255, 255, 255, 0.5);
    }
}